/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-jc-blocks-simple-blurb {
	margin-bottom: 1em;
	.jc-blurb-content {
		max-width:550px;
		margin:0 auto;
		&.alignleft {
			float: none;
			margin-right:auto;
			margin-left:0;
		}
		&.alignright {
			float:none;
			margin-right:0;
			margin-left:auto;
		}
		.jc-blurb-image.jc-effect.jc-animate {
			animation: fadeTop 1s cubic-bezier(.77,0,.175,1) 1;
		}
		.jc-blurb-info {
			text-align: left;
		}
	}
}

@keyframes fadeTop {0% {transform: translate3d(0,-100%,0);}
	to {opacity: 1;transform: none;}}